{% extends 'base.html' %}

{% block content %}
<div class="header-action">
    <h2>Categories</h2>
    <a href="{% url 'category_create' %}" class="btn">+ Добавить</a>
</div>

<div class="card">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for c in object_list %}
            <tr>
                <td>{{ c.pk }}</td>
                <td><a href="{% url 'category_detail' c.pk %}">{{ c.name }}</a></td>
                <td>
                    <a href="{% url 'category_update' c.pk %}" class="btn" style="padding: 4px 8px; font-size: 12px;">Ред.</a>
                    <a href="{% url 'category_delete' c.pk %}" class="btn btn-danger" style="padding: 4px 8px; font-size: 12px;">Уд.</a>
                </td>
            </tr>
            {% empty %}
            <tr><td colspan="3">Записей нет</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}